  {% extends 'index.html'%}
  {% block content%}
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
    
  <form class="form col-6" method="post" action="" enctype="multipart/form-data"  >
       {{message}}
             {% csrf_token %}
      <fieldset>   
           <legend style="text-align: left;color: #074aad; " >Ajouter contact</legend>

             <div class="mb-3">
              <label for="prenom" class="form-label" >Prenom</label>
              <input type="text" id="prenom" name="prenom" class="form-control" placeholder="prenom ">
            </div>

            <div class="mb-3">
              <label for="nom" class="form-label" >Nom</label>
              <input type="text" id="nom" name="nom" class="form-control" placeholder=" nom">
            </div>

            <div class="mb-3">
              <label for="nom" class="form-label">Email</label>
              <input type="email" id="email" name="email" class="form-control" placeholder=" email">
            </div>

            <div class="mb-3">
              <label for="tel" class="form-label">age</label>
              <input type="number" id="motDepasse" name="age" class="form-control" placeholder="votre age ">
            </div>

            <div class="mb-3 ">
              <label for="tel" class="form-label">telephone</label>
              <input type="text" id="telephone" name="telephone" class="form-control" placeholder="votre telephone ">
              
            </div> 

            <div class="mb-3 ">
              <label for="tel" class="form-label">lieu de Reidence</label>
              <input type="text" id="preffession" name="location" class="form-control" placeholder="Residence">
              
            </div>  
            <div class="mb-3">
              <label for="formFile" class="form-label">Default file input example</label>
              <input name="icon" class="form-control" type="file" id="formFile">
            </div> 
          {% comment %}  {{ form.as_p}} {% endcomment %}
            
            <button  style="text-align: left;color: #074aad; " type="submit" class="btn mx-auto">Ajouter</button>

      </form></fieldset>
    </div>
          
        </div>
        {% endblock %}